body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,300px);
}
.text-field, legend{
    width: 450px;
    height: 25px;
    font-size: 1.5em;
}
label{
    padding: 10px;
}